.wrapper {
  position: fixed;
  width: var(--width-global);
  max-width: 100%;
  left: 68%;
  top: 70px;
  bottom: 70px;
  border-radius: 10px;
  background-color: var(--background-container);
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: all 1.5s linear;
  animation: show 1.5s forwards;
}

@keyframes show {
  from{
    bottom: 100%;
    opacity: 0;
    margin-top: 700px;
  }
  to{
    bottom: 70px;
    opacity: 1;
  }
}

.wrapper.show-hide {
  animation: hide .5s forwards,disappear 1s 1s forwards;
  transition: all .5s linear;
}

@keyframes transferToTop {
  from{
    margin-top: 700px;
  }
}

@keyframes hide {
  0%{
    opacity: 1;
    bottom: 70px;
  }
  100%{
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes disappear {
  to{
    height: 0;
  }
}


.list-music {
  overflow-y: scroll;
  height: 100%;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: var(--primary-color);
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  & > :last-child {
    margin-bottom: 12px;
  }

  .music-item {
    display: flex;
    gap: 8px;
    margin-left: 10px;
    margin-top: 12px;

    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }

    .music-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      div {
        display: flex;
        gap: 20px;
      }
    }
  }

  .not-found {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: top-left-radius top-right-radius bottom-right-radius
    bottom-left-radius;
}

@media only screen and (max-width: 1320px) {
  .wrapper {
    position: unset !important;
    margin-top: 16px;
    height: 400px;
    width: var(--width-global);
    transform: translateY(45%);
    margin-bottom: 55%;
  }

  .wrapper{
    animation: transferToTop 1.5s forwards;
  }
}

@media only screen and (min-width: 2200px) {
  .wrapper {
    right: 20%;
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    width: var(--max-width-540);
  }
}
