* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: thin;
  flex-direction: column;

  .adsbygoogle{
    position: absolute;
    flex-direction: column;
    width: var(--width-global);
    max-width: 100%;
    right: 68%;
    top: 20%;
    height: 400px;
    bottom: 20%;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 4px 8px 8px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity 1s linear;
    & div, iframe{
      height: 100% !important;
    }
  }

  @media only screen and (max-width: 1320px) {
    .adsbygoogle {
      position: unset;
      display: none;
    }
  }
  

@media only screen and (min-width: 2200px) {
  .adsbygoogle{
    left: 20%;
  }
}

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: var(--primary-color);
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  & > :last-child {
    margin-bottom: 12px;
  }
}
